.health.--red {
  color: var(--focused-player-health-red);
}

.health.--red img {
  filter: url(#focused-player-health-red-from-white-filter);
}
.health {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
img {
  height: var(--focused-player-icon-height);
}
