.round-winner-wrapper {
  max-height: var(--top-bar-row-height);
}

.round-winner {
  height: var(--top-bar-row-height);
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.round-winner.--ct {
  color: var(--counter-terrorists-fill);
}

.round-winner.--t {
  color: var(--terrorists-fill);
}
