.focused-player {
  position: fixed;
  bottom: var(--viewport-margin-bottom);
  left: calc((100% - var(--focused-player-width)) / 2);
  right: calc((100% - var(--focused-player-width)) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: var(--filter-drop-shadow);
}

.focused-player.--has-overlay-bottom {
  bottom: var(--focused-player-margin-bottom-with-overlay-bottom);
}

.iframe {
  position: absolute;
  left: calc((100% - 160px) / 2);
  right: calc((100% - 160px) / 2);
  bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.camera {
  border-radius: 20px;
  border: 0;
  height: 150px;
  width: 160px;
  box-shadow: 10px;
}
