<Transition mode="out-in">
  <div :class="['focused-player', { '--has-overlay-bottom': !! overlayBottomImageUrl }]"
  >
    <div
      v-for="(playerCamera, i) in playerCameras"
      class="iframe"
      :id="`p${playerCamera.slot}`"
    >
      <iframe
        :src="`${playerCamera.url}?controls=0`"
        scrolling="no"
        class="camera"
        allow="autoplay"
        width="320"
        height="240"
      >
      </iframe>
    </div>
    <FocusedPlayerNameAndStats v-if="isActive "/>
  </div>

  <div v-else-if="$round.isFreezetime" class="freezetime-placeholder"></div>
</Transition>
