.focused-player {
  position: fixed;
  bottom: var(--viewport-margin-bottom);
  left: calc((100% - var(--focused-player-width)) / 2);
  right: calc((100% - var(--focused-player-width)) / 2);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: end;
  filter: var(--filter-drop-shadow);
}

.focused-player.--has-overlay-bottom {
  bottom: var(--focused-player-margin-bottom-with-overlay-bottom);
}

.iframe {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
}
.camera {
  border-radius: 0px;
  /* border-bottom-right-radius: 0; */
  border: 0;
  width: 130px;
  aspect-ratio: 300/389;
  box-shadow: 10px;
  object-fit: contain;
}
img.logo {
  display: block;
  max-height: calc(100% - var(--top-bar-team-logo-vertical-spacing) * 2);
  height: 60px;
  width: 60px;
  object-fit: contain;
}
