.name-row {
  grid-area: name-row;
  padding: 0 2.5rem;
  display: flex;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  align-items: center;
  justify-content: space-between;
  background: var(--black-50);
  font-size: 2.5rem;
  font-weight: 700;
  transition: background-color var(--fade-fast-duration) ease;
}

.name-row.--ct {
  background: var(--counter-terrorists-fill-100);
}

.name-row.--t {
  background: var(--terrorists-fill-100);
}
.inner {
  display: flex;
  font-size: medium;
  justify-content: center;
  align-items: center;
}
