<div
  v-if="radarConfig"
  style="
    background-image: url('/hud/img/backgrounds/map.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    background-color: rgba(0, 0, 0, 0.3);
  "
  class="radar"
>
  <p
    style="
      position: absolute;
      top: 5px;
      text-align: center;
      color: white;
      width: 100%;
      font-size: small;
      text-transform: uppercase;
    "
  >
    National championship 2024 <br />
    Play-Off Game 5
  </p>
  <img
    ref="image"
    :src="radarImageUrl"
    alt=""
    :class="['radar-image', { '--transparent-background': radarConfig.radarImageTransparentBackgrond }]"
  />
  <Bomb />
  <Grenade v-for="grenade of $grenades" :grenade="grenade" :key="grenade.id" />
  <Player v-for="player of $players" :player="player" :key="player.steam64Id" />
</div>
