.radar {
  position: relative;
  background-image: url("../../../../assets/map.webp");
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin: 10px;
  width: 300px;
  aspect-ratio: 1;
  overflow: hidden;
}

img.radar-image {
  width: 100%;
}

img.radar-image.--transparent-background {
  filter: var(--filter-drop-shadow);
}
