.radar {
  position: relative;
  width: 350px;
  margin:10px;
  aspect-ratio: 1;
  overflow: hidden;
}
.title{
  position: relative;
  margin: 10px;
  width: 350px;
  height: 40px;
  aspect-ratio: 1;
  overflow: hidden;
}

img.radar-image {
  width: 100%;
}

img.radar-image.--transparent-background {
  filter: var(--filter-drop-shadow);
}
