<div class="title">
  <p 
  style="
      background-image: url('/hud/img/backgrounds/topmap.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 5px;
      text-align: center;
      color: white;
      font-size: medium;
      text-transform: uppercase;
      "
  >
  UNITEL ESPORTS CHAMPIONSHIP 2024
  <!-- <br /> -->
  <!-- Road To BLAST     -->
</p>

</div>
<div
  v-if="radarConfig"
  class="radar"
>
  
  <img
    ref="image"
    :src="radarImageUrl"
    alt=""
    :class="['radar-image', { '--transparent-background': radarConfig.radarImageTransparentBackgrond }]"
  />
  <Bomb />
  <Grenade v-for="grenade of $grenades" :grenade="grenade" :key="grenade.id" />
  <Player v-for="player of $players" :player="player" :key="player.steam64Id" />
</div>
