.match-point-rounds-overflow-container {
  grid-area: match-point-rounds;
  overflow: hidden;
}

.match-point-rounds {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 1.35rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: clip-path var(--fade-default-duration) ease,
    transform var(--fade-default-duration) ease;
}

.match-point-rounds:not(.--active) {
  transform: translateY(-100%);
}
